.main{
    display:flex;
    height: 80vh;
    
    }
    
    .main-left{
        flex:1;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    
    .main-right{
        flex:1;
        position: relative;
    }
    .main-left-wrapper{
        padding: 50px;
        height:50%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .main-intro{
        font-size:30px;
        font-weight:300;
    }
    .main-name{
        font-size:40px;
    }
    .main-title{
        height:50px;
        overflow: hidden;
    }
    .main-title-wrapper{
        height:100%;
        animation: move 5s ease-in-out infinite alternate;
    }
    @keyframes move {
        50%{
            transform: translateY(-50px)
        }
        100%{
            transform: translateY(-100px)
        }
        
    }
    .main-title-item{
        height:50px;
        font-size:30px;
        font-weight:bold;
        color:#129e74;
        display:flex;
        align-items:center;
    }
    
    .main-right-content{
        margin-top:35%;
        margin-left: 15%;
        position:absolute;
        display:flex;
        align-items:center;
        justify-content:center;
        font-size: 25px;
        color:rgb(182, 182, 93);
        font-weight: bold;
    }
    
    .main-draw{
        clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
        background-color: aquamarine;
        height:100%;
        width:100%;
        position:absolute;
        top:0;
        right:0;
    }
    
    @media screen and (max-width:480px){
        .main{
            flex-direction: column;
        }
        .main-left-wrapper{
            padding: 10px;
            align-items:center;
            text-align:center;
            justify-content:center;
            height:100%;            
          }
    }